<md-card md-theme="custom-card" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.result}}</span>
            <span class="md-subhead">Combinación de numeros más grande</span>
        </md-card-title-text>
    </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-warn md-raised" ng-click="$ctrl.clean()">Limpiar lista</md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.calculate()">Calcular</md-button>
        </md-card-actions>

</md-card>

